
/* use liberty variables instead
$geicoBlue: #154995;
$lightBlue: #446daa;
$paleBlue: #e2edf3;

$geicoOrange: #ff8800;

$lightGrey: #f2f0ec;
$mediumGrey: #e6e3dd;

$backgroundBeige: #f0eadd;
*/

$textColor: #60574a;
$textColorInactive: #bab4ab;
$borderColorDark: #e6e3dd;
$corpBlue: #154995;

$libertyOrange: #ff8800;

$libertyRedDark: #b6091a;
$darkBeige: #60574a;/* form field text */


$libertyGreenDark: #154995; //page messaging

$libertyYellowDark: #ff744a;