/* This stylesheet will be appended to the main stylesheet */

@charset "utf-8";
//@import "compass/css3";
@import "../../mixins";
@import "mixins";


@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato/Lato-Regular-webfont.eot');
  src: url('/assets/fonts/lato/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/lato/Lato-Regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/lato/Lato-Regular-webfont.woff') format('woff'),
  url('/assets/fonts/lato/Lato-Regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/lato/Lato-Regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato/Lato-Bold-webfont.eot');
  src: url('/assets/fonts/lato/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/lato/Lato-Bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/lato/Lato-Bold-webfont.woff') format('woff'),
  url('/assets/fonts/lato/Lato-Bold-webfont.ttf') format('truetype'),
  url('/assets/fonts/lato/Lato-Bold-webfont.svg#latoregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato/Lato-Italic-webfont.eot');
  src: url('/assets/fonts/lato/Lato-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/lato/Lato-Italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/lato/Lato-Italic-webfont.woff') format('woff'),
  url('/assets/fonts/lato/Lato-Italic-webfont.ttf') format('truetype'),
  url('/assets/fonts/lato/Lato-Italic-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'geico';
  src: url('/assets/fonts/geico/geico.eot?-xlxh80');
  src: url('/assets/fonts/geico/geico.eot?#iefix-xlxh80') format('embedded-opentype'),
  url('/assets/fonts/geico/geico.woff?-xlxh80') format('woff'),
  url('/assets/fonts/geico/geico.ttf?-xlxh80') format('truetype'),
  url('/assets/fonts/geico/geico.svg?-xlxh80#geico') format('svg');
  font-weight: normal;
  font-style: normal;
}

body.geico ,body.geico button,body.geico input,body.geico select,body.geico textarea {
  font-family: 'Lato',sans-serif;
 /* color: #60574a;*/
}



.geico {

  .geico-contact.hidden{display: block}

  .geico-contact{display: block;margin-bottom: 1em }

  .form-submit-alt.geico-return a{text-transform: uppercase}

  @media (min-width: 24.375em){
    .form-submit-alt.geico-return p{
      margin-top:15px;
    }
  }

  .geico-contact > p {
    font-weight: 700;
    font-size: 1em;
    margin: .2em 0;
  }

  .geico-contact p > a,
  .geico-contact p > span {
    font-weight: bold;
  }
  .geico-contact ol {
    font-size: .75em;
    color: #6E6E6E;
    list-style: none;
  }
  .geico-contact ol,
  .geico-contact > li {
    margin: 0;
    padding: 0;
  }
  .geico-contact > li {
    padding: .1em 0;
  }

  .section-header {
    padding-left: 0px;
  }


  .pg-mssg-positive b,
  .pg-mssg-positive strong { color: $libertyGreenDark; }

  .pg-mssg-warning b,
  .pg-mssg-warning strong { color: $libertyYellowDark; }

  /* UNCOMMENT ONLY AS NEEDED.
   * THESE STYLES APPEND TO EXISTING STYLES
  @import "components/affiliate";*/
  @import "components/buttons";
  /*
  @import "components/callouts";
  @import "components/collapsible";
  @import "components/coverage";
  @import "components/customer-service";
  @import "components/dialogs";
  @import "components/ext-wall";
  */
  @import "components/icons";
  /*
  @import "components/feature-list";
  @import "components/feedback";
  @import "components/footer";*/
  @import "components/forms";
  /*
  @import "components/forms-cc";*/
  @import "components/help-center";
  /*
  @import "components/layout";
  @import "components/list-builder";*/
  @import "components/masthead";

  /*@import "components/notification";*/
  @import "components/page";
  /*
  @import "components/panel";
  @import "components/payment-schedule";
  @import "components/qps";*/

  @import "components/wayfinder";
  /*
  @import "components/bind";

  @import "components/cart";
  @import "components/table";
  @import "components/tabs";
 */
  @import "components/hidden-elements";


}


