/* -------------------------
	 Footer
------------------------- */

.footer {
	@extend %clearfix;
	position: relative;
	min-height: 100px;
	/* padding handled in page.scss */
}

.footer-nav {
  clear: both;
	color: $textColorLight;
}
.footer-nav .legal {
	padding: 0;
	list-style: none;
}
.footer-nav p,
.footer-nav .legal li {
	font-size: $size12;
	max-width: none;
}
.footer-nav .legal li {
	margin: 0 0 .5em;
}
.footer-nav .legal li .pipe {
	display: none;
}
// for when affiliate is in footer-nav [deprecated, possibly ok to delete]
.footer-nav .affiliate p,
.footer-nav .smlprint p {
	margin: 0 0 1em;
}
.footer-nav .smlprint p:last-child,
.footer-nav .legal li:last-child {
	margin-bottom: 0;
}
.footer-nav .partners img {
  width: 100%;
}
.footer-nav .affiliate img {
	max-width: 115px;
}
.footer-nav .affiliate,
.footer-nav .legal,
.footer-nav .copyright,
.footer-nav .partners,
.footer-info-message,
.footer-nav .smlprint {
	margin: 0;
	padding: 12px 0;
}
.footer-nav .affiliate,
.footer-nav .copyright,
.footer-nav .partners,
.footer-info-message{
	border-bottom: 1px dotted $fillColorLight;
}
.footer-nav .copyright,
.footer-nav .affiliate {
	padding-top: 0;
}
.footer-nav .affiliate {
	overflow: hidden;
}
.footer-nav .affiliate p,
.footer-nav .affiliate img {
	display: inline-block;
	vertical-align: top;
}
.footer-nav .affiliate p {
	margin-right: 1em;
}

.footer-nav .quoteid {
  font-weight: bold;
}

.footer-nav .partners {
	display: block;
	overflow: hidden;
}
.footer-nav .partners a {
	display: inline-block;
  vertical-align: middle;
}
.footer-nav .partners-security {
	display: table;
  width: 100%;
  max-width: 400px;
  margin-top: 12px;
}
.footer-nav .partners-security a {
	display: table-cell;
  vertical-align: middle;
  padding: 0 12px;
}

.footer-nav .partners-olympics {
  width: 45%;
  min-width: 100px;
  max-width: 180px;
  margin-top: -10px; /* offset top padding because Olympic logo has built-in whitespace */
}

.footer-nav .collapsible .collapsible-header {
	position: relative;
	padding-left: 2.2em;
	color: $textColorLight;
	font-size: $size13;
}
.footer-nav .collapsible .collapsible-header:before {
	content: "[ - ]";
	position: absolute;
	left: 0;
}
.footer-nav .collapsible-collapsed .collapsible-header:before {
	content: "[ + ]";
}

.footer .feedback + .footer-nav {
	margin: 2em 0 1.5em;
}

.footer .pg-subtitle:first-child{margin-top:0}//FAQ


@media ( min-width: 25em ) {//400px
	.footer-nav .legal {
		padding-bottom: $verticalSpace/4;
		overflow: hidden;
	}
	.footer-nav .legal li {
		float: left;
		margin: 0 0 .3em;
	}
	.footer-nav .legal li .pipe {
		display: inline;
	}
	.footer-nav .copyright {
		clear: both;
	}
}

@media ( min-width: 32em ) {//512
	.footer-nav .affiliate {
		text-align: right;
	}
  .footer-nav .quoteid {
	float: right;
  }
}

@media (min-width: 43.75em) {
  .footer-nav .partners {
	padding-bottom: 0;
  }
  .footer-nav .partners-olympics {
	float: left;
  }
  .footer-nav .partners-security {
	float: right;
	}
}